/* Style to make the svg fit in the browser */
body { padding: 0; margin: 0; }
svg  { width: 100%; height: auto; }

/* Set up the jump animation */
@keyframes jump-animation {
    0%   { transform: translate(30px,192px) scale(0.007000,-0.007000); }
    50%  { transform: translate(30px,172px) scale(0.007000,-0.007000); }
    100% { transform: translate(30px,192px) scale(0.007000,-0.007000); }
}

#bird {
    animation-name: jump-animation;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}