/* Style to make the svg fit in the browser */
body { padding: 0; margin: 0; }
svg  { width: 100%; height: auto; }

#player {
    transform: translate(10px, 155px) scale(0.12, 0.12);
    /* transform: scale(0.12, 0.12); */
}

@keyframes rect1-animation {
    from { transform: translateX(1000px); }
    to   { transform: translateX(-250px); }
}

#rect_1 {
    animation-name: rect1-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-play-state: paused;
}

@keyframes rect2-animation {
    from { transform: translateX(900px); }
    to   { transform: translateX(-500px); }
}

#rect_2 {
    animation-name: rect2-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-play-state: paused;
}

@keyframes rect3-animation {
    /* from { transform: translate(800px, 160px) rotate(0deg); }
    to   { transform: translate(-600px, -150px) rotate(360deg); } */
    from { transform: translate(800px, 160px); }
    to   { transform: translate(-600px, -150px); }
}

#rect_3 {
    animation-name: rect3-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-play-state: paused;
}

@keyframes rect4-animation {
    0% { transform: translate(850px, 200px) scale(1, 1); }
    50% { transform: translate(-1000px, -250px) scale(2.2, 2.2); }
    100% { transform: translate(-600px, 150px) scale(0.8, 0.8); }
}

#rect_4 {
    animation-name: rect4-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-play-state: paused;
}

#bullet {
    display: none;
}

@keyframes reduce-heart-1 {
    0% { transform: translate(650px, -10px) scale(0.08, 0.08); }
    50% { transform: translate(650px, -10px) scale(0.1, 0.1); }
    100% { transform: translate(650px, -10px) scale(0.08, 0.08); }
}

@keyframes reduce-heart-2 {
    0% { transform: translate(690px, -10px) scale(0.08, 0.08); }
    50% { transform: translate(690px, -10px) scale(0.1, 0.1); }
    100% { transform: translate(690px, -10px) scale(0.08, 0.08); }
}

@keyframes reduce-heart-3 {
    0% { transform: translate(730px, -10px) scale(0.08, 0.08); }
    50% { transform: translate(730px, -10px) scale(0.1, 0.1); }
    100% { transform: translate(730px, -10px) scale(0.08, 0.08); }
}
.start {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 25vh;
    text-align: center;
    font-size: 8vh;
    /* line-height: 100vh; */
    background-color: rgba(0, 120, 200, 0.6);
}
.end
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 25vh;
    text-align: center;
    font-size: 8vh;
    background-color: rgba(200, 0, 120, 0.6);
}
a:hover {
    background: rgba(255, 255, 255, 0.5);
}

#heart_1 {
    animation-name: reduce-heart-1;
    animation-duration: 2s;
    animation-play-state: paused;
    transform: translate(650px, -10px) scale(0.08, 0.08);
}

#heart_2 {
    animation-name: reduce-heart-2;
    animation-duration: 2s;
    animation-play-state: paused;
    transform: translate(690px, -10px) scale(0.08, 0.08);
}

#heart_3 {
    animation-name: reduce-heart-3;
    animation-duration: 2s;
    animation-play-state: paused;
    transform: translate(730px, -10px) scale(0.08, 0.08);
}

#countdown-circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    animation: countdown 180s linear infinite forwards paused;
  }

@keyframes countdown {
    from { stroke-dashoffset: 0px; }
    to { stroke-dashoffset: 113px; }
}

/* Set up the gameover animation */
@keyframes gameover-animation {
  from { transform: rotate(0deg); font-size: 1px; opacity: 0; }
  to   { transform: rotate(1440deg); font-size: 80px; opacity: 1; }
}

#gameover {
    font-family: Dosis, sans-serif;
    animation-name: gameover-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

#StartScreen {
    font-family: Dosis, sans-serif;
    transition-property: opacity ; 
    transition-duration : 5s;
}

#EndScreen {
    font-family: Dosis, sans-serif;
    transition-property: opacity ; 
    transition-duration : 5s;
}

#score_number {
    font-family: Dosis, sans-serif;
    font-size: 40px;
   
}